*{
    margin: 0%;
    padding: 0%;
}
.header{
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    position: fixed;
    top: 0;
    background-color: white;
    left: 0;
    overflow: hidden;
    z-index: 999;
    width: 100%;
}
.cont{
    width: 100vw;
    height: 150px;
    margin-top: 30px;
}
.header p,.header a{
    color: black;
}
.header p:hover,:focus,.header a:hover,:focus{
    color: #333;
    border-top: #333;
    text-decoration: underline;
    border-bottom: #24262b;
}
.header>img:first-child{
    width: 20%;
}
h2{
    margin-top: 15px;
}
a{
    text-decoration: none;
}
.header>img:last-child{
    width: 50%;
}
.header p{
    text-align: center;
    background-color: black;
    padding : 3px;
    color: white;
}
.foot{
    max-width: 1170px;
    background-color: whitesmoke;
    margin: auto;
}
.row{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
ul,li{
    list-style: none;
}
.footer{
    background-color: #24262b;
    padding: 60px 0; 
    height: 519px;
}
.m_row{
    margin: 50px 50px 0px 50px;
}
footer h1,footer h2{
    color: white;
}
footer p,footer a{
    color: rgb(114, 113, 112);
}
footer a:hover{
    cursor: pointer;
    color: rgb(88, 88, 87);
    text-decoration: underline;
}
#foot-col input{
    border: 0px;
    padding: 7px;
    margin-bottom: 2px;
}
#foot-col button{
    background-color: rgb(255, 170, 0);
    border: 0px;
    border-radius: 5px;
    color: white;
    padding: 7px;
    margin-bottom: 2px;
}
#foot-col button:hover{
    background-color: orange;
    cursor:pointer;
}
#m_subfooter{
    color: rgb(88, 88, 87);
    margin-top: 5px;
    background-color: rgb(15, 14, 14);
    width: 99.2%;
    padding: 5px;
    text-align: center;
}
.social i{
    display: inline-block;
    font-size: 30px;
    margin-right: 15px;
}

.social i:first-child{
    margin-left: 17px;
}
#pr_logo{
    display: flex;
    flex-wrap: wrap;
    margin-left: 40px;
}
#pr_logo>input{
    height: 25px;
    margin-top: 55px;
    margin-left: 40px;
    width: 251px;
}
#top{
    display: flex;
    flex-wrap: wrap;
    height: 120px;
}
.cart{
    margin-top: 30px;
    height: 75px;
    width: 85px;
    margin-left: 10px;
}
#par>div:first-child{
    margin-left: 250px;
}
#accn{
    margin-left: 350px;
}
#logo{
    width: 170px;
    height: 150px;
}
.nav-b{
   display: flex;
    justify-content: space-around;
    padding: 8px;
}
.log{
    margin-left: 30px;
}
#logo~div{
    margin-top: 50px;
}
.log>div:first-child{
    margin-left: 25px;
}
.paymethods img{
    margin-top: 5px;
    width: 250px;
    height: 40px;
}
